<div class="flex flex-col min-h-screen pb-4 gap-5">
  <nav class="py-3 bg-[#A6FAFF] drop-shadow-[3px_0px_3px_black]">
    <div class="container text-center font-kaushan text-xl md:text-2xl font-bold tracking-wider">
      FinMu
    </div>
  </nav>
  <!-- content -->
  <div class="flex flex-col gap-3 flex-1 container">
    <div class="flex flex-col gap-3">
      <h1 class="font-bold text-xl md:text-3xl">Tentukan semua kebutuhan finansialmu disini!</h1>
      <p class="font-light text-xs md:text-base">Mari rencanakan kebutuhan finansialmu agar lebih terarah!</p>
      <p class="font-light underline text-xs md:text-sm text-slate-500">Last Modified: {{ lastModified | date: "dd MMMM yyyy HH:mm:ss" }}</p>
    </div>
    <!-- input how much money do they save? -->
    <div class="flex flex-col gap-1 text-sm md:text-base">
      <label for="money">Pendapatan</label>
      <input
        type="text"
        id="money"
        class="border border-black bg-gray-50 rounded w-full p-2 focus:outline-none shadow-neo-input"
        placeholder="1,000,000"
        appDecimal
        [formControl]="money"
        (input)="isCalculate = false"
        required />
    </div>
    <!-- JENIS NABUNG -->
    <div class="flex flex-col gap-1 text-sm md:text-base">
      <label for="type">Jenis Nabung</label>
      <div class="flex flex-row gap-2">
        <input
          type="text"
          id="type"
          class="border border-black bg-gray-50 rounded flex-1 p-2 focus:outline-none shadow-neo-input"
          placeholder="Investasi"
          [formControl]="typeSaving"
          (keydown.enter)="addTypeSaving()"
          required />
        <button
          class="border p-2 bg-button-neo-yellow rounded border-black shadow-neo-input active:shadow-neo-input-active duration-150 w-20 md:w-40"
          (click)="addTypeSaving()"
          [disabled]="!typeSaving.value || !money.value">
          Tambah
        </button>
      </div>
    </div>
    <!-- LIST TYPE SAVING -->
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-3 text-sm md:text-base">
      @for (type of listTypeSaving.value; track $index) {
        <div class="rounded border border-black shadow-neo-input p-2 flex flex-col gap-1" [style.backgroundColor]="type?.color">
          <p><span class="font-bold">{{ type?.name }}</span> ({{ type?.percent }}%)</p>
          <div class="flex flex-row items-center gap-2">
            <input
              type="text"
              class="flex-1 border bg-gray-50 border-gray-300 rounded p-1"
              [placeholder]="type?.percent"
              appMaxPercent
              (input)="setPercent($event, $index)">
            <div
              class="bg-red-500 w-5 h-5 rounded-full text-center cursor-pointer text-white flex"
              (click)="deleteTypeSaving($index)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" class="m-auto h-4 w-4">
                <path fill="white" d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"/>
              </svg>
            </div>
          </div>
        </div>
      } @empty {
        <div class="py-8 text-center bg-white border border-black col-span-1 md:col-span-2 lg:col-span-3 rounded border-dashed">
          Kosong
        </div>
      }
    </div>
    <div class="flex flex-row gap-2">
      <!-- button generate card -->
      <button
        class="border p-2 bg-button-neo-yellow border-black rounded text-sm md:text-base shadow-neo-input active:shadow-neo-input-active duration-150 flex-1"
        (click)="calculate()"
        [disabled]="!money.value || !listTypeSaving.length">
        Hitung
      </button>
      <button 
        class="border p-2 bg-red-500 border-black rounded shadow-neo-input active:shadow-neo-input-active duration-150 text-sm md:text-base w-20 md:w-40"
        (click)="reset()"
        [disabled]="!listTypeSaving.length">
        Reset
      </button>
    </div>
    <!-- card generate percent * nabung -->
    @if (isCalculate) {
      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
        @for (type of listTypeSaving.value; track $index) {
          <app-card [datas]="type!"></app-card>
        }
      </div>
    }
  </div>
  <!-- footer -->
  <footer class="text-xs md:text-sm text-center flex flex-col container">
    <h1>Built with Love ❤️</h1>
  </footer>
</div>
