<div class="container py-14 flex flex-col gap-5">
  <div>
    <h1 class="text-center font-bold">Nabung Yuks</h1>
  </div>
  <!-- input how much money do they save? -->
  <div>
    <label for="money" class="block mb-2">Masukkan Jumlah Uang</label>
    <input 
      type="text" 
      id="money" 
      class="border bg-gray-50 border-gray-300 rounded w-full p-2" 
      placeholder="1.000.000" 
      appDecimal
      [formControl]="money"
      required />
  </div>
  <!-- <hr class="border border-cyan-100 rounded"> -->
  <div class="typesavings">
    <label for="type" class="block mb-2">Jenis Nabung</label>
    <input 
      type="text" 
      id="type" 
      class="border bg-gray-50 border-gray-300 rounded p-2 mr-1" 
      placeholder="Investasi" 
      [formControl]="typeSaving"
      (keydown.enter)="addTypeSaving()"
      required />
    <button class="border p-2 bg-cyan-200 rounded" (click)="addTypeSaving()">Tambah</button>
  </div>
  <div class="listsavings grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-2">
    @for (type of listTypeSaving.value; track $index) {
      <div class="text-sm rounded border bg-lime-600 p-2 flex flex-col gap-1">
        <p>{{ type }} (?%)</p>
        <div class="flex flex-row items-center gap-2">
          <input type="text" class="flex-1 border bg-gray-50 border-gray-300 rounded p-1" placeholder="berapa persen">
          <div class="bg-red-500 w-5 rounded-full text-center cursor-pointer" (click)="deleteTypeSaving($index)">X</div>
        </div>
      </div>
    } @empty {
      <div>Kosong BOS</div>
    }
  </div>
  <!-- button generate card -->
  <button class="border p-2 bg-cyan-200 rounded" (click)="calculate()">Hitung</button>
  <div class="listcard flex flex-row gap-2 flex-wrap">
    <app-card></app-card>
    <app-card></app-card>
  </div>
</div>
