/* You can add global styles to this file, and also import other style files */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@layer base {
  html {
    font-family: "Lexend Giga", sans-serif;
    letter-spacing: -0.1rem;
    background-color: #A6FAFF;
  }
}